<div class="container">
<h1><%= @project.title %></h1>
<% if current_user %>
    <a href="/projects/<%= @project.id %>/edit" class="badge badge-success">Edit</a>
<% end %>
<p><%= @project.description %></p>
<div class="col-lg-6">
<h5 class="border-bottom border-dark">Tech Utilized</h5>
<div class="row m-2">
<% @project.utilized_tech.each do |tech| %>
<p><%= image_tag tech.image_url, title: tech.name, class: "img-fluid m-1", width: "40px" %></p>
<% end %>
</div>
</div>
<a class="text-info" href="<%= @project.project_url %>"><%= image_tag @project.image_url, class: "img-fluid border border-info rounded", width: "800px" %>
<p>click to visit</p></a>
<a class="text-info" href="<%= @project.github_url %>">Checkout the code on <%= image_tag "icons8-github-48.png", class: "img-fluid", width: "40px" %></a>
</div>
