<!DOCTYPE html>
<html>
<head>
  <title>Chris Truax's Portfolio</title>
  <%= favicon_link_tag asset_path('logo.png'), :rel => 'icon', :type =>  'image/png' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if project_load %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" href="#"><%= image_tag "logo1.png", class: "img-fluid", width: "50px" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light" href="/projects">Home</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <% project_load.each do |project| %>
          <a class="dropdown-item" href="/projects/<%= project.id %>"><%= project.title %></a>
        <% end %>
        </div>
      </li>
    </ul>
    <%= link_to 'Download Resume', '/ChrisTruaxResume.pdf', download: 'ChrisTruaxResume.pdf', class: "nav-link text-light" %>
    <a class="text-light" href="https://www.linkedin.com/in/chtruax/"><%= image_tag "In-White-28px-R.png", class: "img-fluid", width: "28px" %></a>
    <a class="m-2 text-light" href="https://github.com/c2truax"><%= image_tag "GitHub-Mark-Light-32px.png", class: "img-fluid", width: "25px" %></a>
  </div>
</nav>
<% end %>
<% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <p class="text-danger"><%= e %></p>
    <% end %>
  <% end %>
  <% if current_user %>
  <div class="container">
  <div class="row">
  <div class="col-lg-12">
  <div class="nav justify-content-end m-1">
    <a href="/teches" class="btn btn-primary m-1">All Tech</a>
    <a href="/projects/new" class="btn btn-success m-1">New Project</a>
    <form action="/sessions/<%=current_user.id%>"copy method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input class="btn btn-danger nav-item m-1" type="submit" value="Log Out">
    </form>
  </div>
  </div>
  </div>
  </div>
  <% end %>
<%= yield %>

</body>
</html>
